html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

    .button:hover {
        background-color: #FFFFFF;
        color: blue;
    }

.table-responsive {
    background-color: #808080;
    font: 12px arial;
}

.gridLines {
    background-color: #0000FF;
    font: 12px arial;
}
